h1{
    text-align: center;
    font-size:5em;
}
.dis{
    max-width:80%;
    margin:auto;
    height:400px;
    margin-top: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}